  <h1> Welcome to your next vacation! </h1>


<table border=1>
  <tr>  
    <th>Location</th>
    <th>Links</th>
  </tr>
  <tr>
    <% @spot.each do |place| %>
    <td>    
      <%=place.location %>
    </td>
  </tr>         
    <%end%>
  <tr>
    

  </tr>
      
</table>