<!DOCTYPE html>
<html>


  <a href = "/">Home</a>
  <a href = "/your next mountain bike vacation">Destinations</a>

  <h1>
  Plan your ideal mountain biking trip
  </h1>

  <p>
  Please select from the options below
  </p>

</html>