
<h1>
  Plan your next mountain biking trip
</h1>

<p>
  Please select from the options below
</p>

<form action="/selected">
<h3>Season</h3>
  <label for="123">Winter</label>
  <input type="radio" name="winter" id="123" value="true"><br>
  <label for="23">Spring</label>
  <input type="radio" name="spring" id="23" value="true"><br>
  <label for="24">Summer</label>
  <input type="radio" name="summer" id="24" value="true"><br>
  <label for="12">Fall</label>
  <input type="radio" name="fall" id="12" value="true"><br><br>

<p></p>
<h3>Geography</h3>
  <label for="12">Eastern US</label>
  <input type="radio" name="east" id="12" value="true"><br>
  <label for="23">Rocky Mountains</label>
  <input type="radio" name="mountain" id="23" value="true"><br>
  <label for="25">Western US</label>
  <input type="radio" name="west" id="25" value="true"><br>

<p></p>
<h3>Climate</h3>
  <label for="26">Desert</label>
  <input type="radio" name="desert" id="26" value="true"><br>
  <label for="27">Temperate</label>
  <input type="radio" name="temperate" id="27" value="true"><br>
  <label for="123">Mediterranean</label>
  <input type="radio" name="medditerannean" id="123" value="true"><br>

<p></p>
<h3>Trail Type</h3>
  <label for="52">Downhill</label>
  <input type="radio" name="downhill" id="52" value="true"><br>
  <label for="56">Cross Country</label>
  <input type="radio" name="cross_country" id="56" value="true"><br>

<p></p>
<input type="submit" value="Submit">
</form>

