
<h1>
  Plan your ideal mountain biking trip
</h1>

<p>
  Please select from the options below
</p>

<form action="/destination">
<h3>Season</h3>
  <label for="123">Winter</label>
  <input type="radio" name="winter" id="123" value="true"><br>
  <label for="23">Spring</label>
  <input type="radio" name="spring" id="23" value="true"><br>
  <label for="24">Summer</label>
  <input type="radio" name="summer" id="24" value="true"><br>
  <label for="12">Fall</label>
  <input type="radio" name="fall" id="12" value="true"><br><br>

<p></p>
<h3>Location</h3>
  <label for="12">East</label>
  <input type="radio" name="location" id="12" value="true"><br>
  <label for="23">Mountain</label>
  <input type="radio" name="location" id="23" value="true"><br>
  <label for="25">West</label>
  <input type="radio" name="location" id="25" value="true"><br>

<p></p>
<h3>Climate</h3>
  <label for="26">Desert</label>
  <input type="radio" name="climate" id="26" value="true"><br>
  <label for="27">Temperate</label>
  <input type="radio" name="climate" id="27" value="true"><br>
  <label for="123">Mediterranean</label>
  <input type="radio" name="climate" id="123" value="true"><br>

<p></p>
<h3>Type</h3>
  <label for="52">Downhill</label>
  <input type="radio" name="type" id="52" value="true"><br>
  <label for="56">Cross Country</label>
  <input type="radio" name="type" id="56" value="true"><br>

<p></p>
<input type="submit" value="Submit">
</form>

